@import 'tailwindcss';

html,
body {
  overflow-x: hidden;
  user-select: none;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  background: radial-gradient(
    circle at 50% 100%,
    rgba(215, 29, 97, 0.6) 0%,
    rgba(88, 0, 107, 0.5) 40%,
    rgba(10, 0, 25, 1) 100%
  );
}
